
/* Reset dasar */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: Arial, sans-serif;
   background-color: #f4f4f9;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 0;
}

/* Header */
.header {
   background: linear-gradient(135deg, #512da8, #673ab7);
   padding: 20px;
   display: flex;
   align-items: center;
   color: #fff;
}

.header img {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   margin-right: 15px;
}

.header .user-info {
   flex-grow: 1;
}

.header .user-info h1 {
   font-size: 18px;
   margin: 0;
}

.header .user-info p {
   margin: 5px 0 0;
   font-size: 14px;
   color: #e0e0e0;
}

/* Main Content */
.main {
   flex: 1;
   padding: 20px;
}

/* Bottom Navigation */
.bottom-nav {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   background: #fff;
   box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
   display: flex;
   justify-content: space-between;
   padding: 10px 0;
}

.bottom-nav a {
   flex-grow: 1;
   text-align: center;
   text-decoration: none;
   color: #757575;
   font-size: 12px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.bottom-nav a i {
   font-size: 20px;
   margin-bottom: 5px;
}

.bottom-nav a.active {
   color: #673ab7;
}


/* Responsif */
@media (max-width: 768px) {

   /* Header */
   .header {
      background: linear-gradient(135deg, #512da8, #672ab7);
      padding: 10px;
      display: flex;
      align-items: center;
      color: #fff;
      position: fixed;
      /* Navbar tetap di posisi atas */
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
   }

   .header img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      margin-right: 15px;
   }

   .header .user-info {
      flex-grow: 1;
   }

   .header .user-info h1 {
      font-size: 20px;
      margin: 0;
   }

   .header .user-info p {
      margin: 1px 0 0;
      font-size: 12px;
      color: #e0e0e0;
   }
}

.counter-card {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   color: white;
   height: 150px;
   border-radius: 8px;
}

.counter-icon {
   font-size: 2rem;
   margin-bottom: 10px;
}

/* Custom purple button style */
.btn-ungu {
   background-color: #6f42c1; /* Purple background */
   color: white; /* White text color */
   border: none; /* Remove the border */
   border-radius: 5px; /* Rounded corners */
   text-align: center; /* Center text */
   cursor: pointer; /* Pointer cursor on hover */
   transition: background-color 0.3s ease; /* Smooth transition for background color */
}

/* Hover effect for button */
.btn-ungu:hover {
   background-color: #5a33a0; /* Darker purple on hover */
}

/* Small font size class */
.font-small {
   font-size: 1px; /* Adjust to your preferred small size */
   line-height: 1.4; /* Optional: Adjust line height for better readability */
}